<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Cadastro de bairros</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8" th:if="${codigo == null}">
						<h1>Cadastro de bairros</h1>
					</div>
					<div class="col-xs-8" th:unless="${codigo == null}">
						<h1>Edição de bairro: [[${bairro.nome}]]</h1>
					</div>
					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/bairro}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Pesquisa bairros</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${bairro}" class="form-vertical  js-form-loading"
				th:action="@{/bairro/novo}">
				
				<brewer:message />
				
				<input type="hidden" th:field="*{codigo}" />
				<input type="hidden" th:field="*{cidade.codigo}" />
				

				<div class="row">
					<div class="col-sm-6 form-group bw-required" brewer:classforerror="nome">
						<label for="bairro" class="control-label">Bairro</label> 
						<input id="bairro" type="text" class="form-control" th:field="*{nome}" />
					</div>

					<div class="col-sm-6 form-group bw-required" brewer:classforerror="cidade">
						<label for="cidade" class="control-label">Cidade</label> 
						<input id="cidade" type="text" class="form-control" th:field="*{cidade.nome}" readonly="readonly" />
					</div>
					
					<div class="col-sm-6 form-group bw-required" brewer:classforerror="porcentagem">
						<label for="porcentagem" class="control-label">Porcentagem</label> 
						<input id="porcentagem" type="text" class="form-control" th:field="*{porcentagem}" />
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
</body>
</html>