<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
<head>
<title>Cadastro de tipos de lançamento</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8" th:if="${codigo == 0}">
						<h1>Cadastro de tipos de lançamento</h1>
					</div>
					<div class="col-xs-8" th:unless="${codigo == 0}">
						<h1>Edição de lançamento: [[${tipoLancamentoForm.nome}]]</h1>
					</div>
					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/tipoLancamento}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Pesquisa tipos</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${tipoLancamentoForm}" class="form-vertical  js-form-loading" th:action="@{/tipoLancamento/novo}">

				<brewer:message />
				
				<input type="hidden" th:field="*{codigo}" />

				<div class="row">
					<div class="col-sm-10 form-group bw-required" brewer:classforerror="nome">
						<label for="nome" class="control-label">Nome</label> 
						<input id="nome" type="text" class="form-control" th:field="*{nome}" />
					</div>
				</div>
					
				<div class="row">
					<div class="col-sm-3 form-group">
						<label class="control-label" for="status">Status</label>
						<div>
							<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
								data-on-text="Ativo" data-off-text="Inativo" th:field="*{ativo}"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group">
						<label class="control-label" for="status">Modo de lançamento</label>
						<div>
							<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
								data-on-text="Acréscimo" data-off-text="Desconto" th:field="*{modoLancamento}"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>
</html>