<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Pesquisa de motoristas</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisa de motoristas</h1>
					</div>

					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/motorista/nova}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Novo motorista</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-foto">Código</th>
							<th class="table-cervejas-col-sku">Nome</th>
							<th class="table-cervejas-col-nome">CPF</th>
							<th class="table-cervejas-col-estilo">RG</th>
							<th class="table-cervejas-col-origem">CNH</th>
							<th class="table-cervejas-col-origem">Telefone</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="motorista : ${motoristas}">
							<td class="text-center" th:text="${motorista.codigo}">AA1111</td>
							<td th:text="${motorista.nome}">Teste</td>
							<td th:text="${motorista.cpf}"></td>
							<td th:text="${motorista.rg}"></td>
							<td th:text="${motorista.cnh}"></td>
							<td th:text="${motorista.telefone}"></td>
							<td class="text-center"><a
								class="btn btn-link btn-xs js-tooltip" title="Editar"
								th:href="@{/motorista/{codigo}(codigo=${motorista.codigo})}"> <i
									class="glyphicon glyphicon-pencil"></i>
							</a> <a class="btn btn-link btn-xs js-tooltip js-exclusao-btn"
								title="Excluir" data:objeto="${motorista.nome}" href="#"
								data:url="@{/motorista/{codigo}(codigo=${motorista.codigo})}"> <i
									class="glyphicon glyphicon-remove"></i>
							</a></td>
						</tr>
						<tr th:if="${motoristas == null}">
							<td colspan="7">Nenhum motorista encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>