<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Cadastro de cidades</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8" th:if="${codigo == null}">
						<h1>Cadastro de cidades</h1>
					</div>
					<div class="col-xs-8" th:unless="${codigo == null}">
						<h1>Edição de cidade: [[${cidade.nome}]]</h1>
					</div>
					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cidade}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Pesquisa cidade</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${cidade}" class="form-vertical  js-form-loading"
				th:action="@{/cidade/nova}">
				
				<brewer:message />
				
				<input type="hidden" th:field="*{codigo}" />
				
				<input type="hidden" th:field="*{cep}" />
				
				<input type="hidden" th:field="*{estado.codigo}" />

				<div class="row">
					<div class="col-sm-6 form-group bw-required" brewer:classforerror="nome">
						<label for="nome" class="control-label">Nome</label> 
						<input id="nome" type="text" class="form-control" th:field="*{nome}" />
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:classforerror="habilitaConsulta">
						<label for="cep" class="control-label">Habilita desconto</label>
						<div>
							<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
								data-on-text="Habilita" data-off-text="Desabilita" th:field="*{habilitaConsulta}"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>
</html>