<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
<head>
<title>Cadastro de clientes</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h1>Cadastro de clientes</h1>
					</div>
					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cliente}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Pesquisa cliente</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${clienteForm}"
				class="form-vertical  js-form-loading"
				th:action="@{/cliente/nova}">

				<brewer:message />
				
				<input type="hidden" th:field="*{chaveAcesso}" id="chaveAcesso" />

				<div class="row">
					<div class="col-sm-6 form-group bw-required" brewer:classforerror="nome">
						<label for="nome" class="control-label">Nome</label> 
						<input id="nome" type="text" class="form-control" th:field="*{nome}" />
					</div>

					<div class="col-sm-6 form-group bw-required" brewer:classforerror="cpf">
						<label for="cpf" class="control-label">CPF</label> 
						<input id="cpf" type="text" class="form-control" th:field="*{cpf}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4 form-group bw-required" brewer:classforerror="dataNascimento">
						<label for="dataNascimento" class="control-label">Nascimento</label> 
						<input id="dataNascimento" type="text" class="form-control" th:field="*{dataNascimento}" autocomplete="off" />
					</div>
					
					<div class="col-sm-4 form-group bw-required" brewer:classforerror="telefone">
						<label for="telefone" class="control-label">Telefone</label> 
						<input type="text" class="form-control js-phone-number" id="telefone" th:field="*{telefone}" />
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group bw-required" brewer:classforerror="cep">
						<label for="cep" class="control-label">CEP</label>
						<input id="cep" type="text" class="form-control js-cep" th:field="*{cep}" onblur="pesquisaCEP()"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 form-group bw-required">
						<label for="endereco" class="control-label">Endereço</label>
						<input id="endereco" type="text" class="form-control" />
					</div>
					
					<div class="col-sm-3 form-group bw-required" brewer:classforerror="numero">
						<label for="numero" class="control-label">Número</label>
						<input id="numero" type="text" class="form-control" th:field="*{numero}"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4 form-group bw-required">
						<label for="bairro" class="control-label">Bairro</label>
						<input id="bairro" type="text" class="form-control" />
					</div> 
					
					<div class="col-sm-4 form-group bw-required">
						<label for="cidade" class="control-label">Cidade</label>
						<input id="cidade" type="text" class="form-control" />
					</div>
					
					<!-- <div class="col-sm-4 form-group bw-required" brewer:classforerror="estado">
						<label for="estado" class="control-label">Estado</label>
						<input id="estado" type="text" class="form-control" th:field="*{estado}"/>
					</div> -->
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/cep.js}"></script>
		<script>
			$(function() {
			    $( "#dataNascimento" ).datepicker({
							language : "pt-BR",
							maxViewMode : 2,
							minViewMode : 0,
							clearBtn : true,
							todayHighlight : true,
							todayBtn : true,
							format : "dd/mm/yyyy",
							autoclose : true,
							forceParse : true
				});
			});
		</script>
	</th:block>
</body>
</html>