<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<div class="modal fade" id="modalPesquisaClientes" tabindex="-1" role="dialog"
	aria-labelledby="modalPesquisaClientes" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Pesquisa de clientes</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="cont">
					<div class="row">
						<div class="col-sm-12 form-group bw-required">
							<label for="nomeCliente" class="control-label">Nome</label>
							<input id="nomeCliente" type="text" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<button type="submit" class="btn  btn-primary" onclick="buscarCliente()">Buscar</button>
						</div>
					</div>
				</div>
				<div class="table-responsive bw-tabela-simples">
					<table class="table table-hover tabela-lancamento" id="tblCliente">
						<thead>
							<tr>
								<th class="table-cervejas-col-origem">Nome</th>
								<th class="table-cervejas-col-origem">CPF</th>
								<th class="table-cervejas-col-origem">Telefone</th>
								<th class="table-cervejas-col-origem">CEP</th>
								<th class="table-cervejas-col-origem">Endereço</th>
								<th class="table-cervejas-col-origem">Número</th>
								<th class="table-cervejas-col-origem">Bairro</th>
								<th class="table-cervejas-col-origem">Cidade</th>
							</tr>
						</thead>

						<tbody id="clientes">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</div>
</html>