<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:brewer="http://brewer.algaworks.com">
<body>
	<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
		<div class="aw-layout-sidebar__content">
			<nav class="aw-menu  js-menu">
				<ul class="aw-menu__list">
					<li class="aw-menu__item" brewer:menu="@{/}">
						<a th:href="@{/}">
							<i class="fa  fa-fw  fa-home"></i><span>Dashboard</span>
						</a>
					</li>
					
					<li class="aw-menu__item">
						<a href="#"> 
							<i class="fa  fa-fw  fa-credit-card"></i>
							<span>Guias</span> 
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/guia}">
								<a th:href="@{/guia}">Gerenciar</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/guia/nova}">
								<a th:href="@{/guia/nova}">Emitir</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/guia/liberar}">
								<a th:href="@{/guia/liberar}">Liberar</a>
							</li>
						</ul>
					</li>

					<li class="aw-menu__item">
						<a href="#"> 
							<i class="fa  fa-fw  fa-database"></i>
								<span>Cadastros</span> 
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
						
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/cliente.*}">
								<a th:href="@{/cliente}">Clientes</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/motorista.*}">
								<a th:href="@{/motorista}">Motoristas</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/loja.*}">
								<a th:href="@{/loja}">Lojas</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/usuario.*}">
								<a th:href="@{/usuario}">Usuários</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/tipoLancamento.*}">
								<a th:href="@{/tipoLancamento}">Tipos de lançamentos</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/cidade.*}">
								<a th:href="@{/cidade}">Cidades</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/bairro.*}">
								<a th:href="@{/bairro}">Bairros</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/endereco/cadastro}">
								<a th:href="@{/endereco/cadastro}">Endereços</a>
							</li>
						</ul>
					</li>
					
					<li class="aw-menu__item">
						<a href="#"> 
							<i class="fa  fa-fw  fa-file-pdf-o"></i>
								<span>Borderôs</span> 
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
						
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/bordero}">
								<a th:href="@{/bordero}">Lançar</a>
							</li>
						</ul>
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/bordero.+}">
								<a th:href="@{/bordero/fechados}">Reabrir</a>
							</li>
						</ul>
					</li>
					
					<li class="aw-menu__item">
						<a href="#"> 
							<i class="fa  fa-fw  fa-file-pdf-o"></i>
								<span>Relatórios</span> 
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
						
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/relatorios.*}">
								<a th:href="@{/relatorios/vendasEmitidas}">Vendas emitidas</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</body>
</html>