<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Cadastro de endereços</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8" th:if="${codigo == null}">
						<h1>Cadastro de endereços</h1>
					</div>
					<div class="col-xs-8" th:unless="${codigo == null}">
						<h1>Edição de endereço: [[${endereco.logradouro}]]</h1>
					</div>
					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/endereco}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Pesquisa endereço</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${endereco}"
				class="form-vertical  js-form-loading"
				th:action="@{/endereco/novo}">
				
				<brewer:message />
				
				<input type="hidden" th:field="*{codigo}" />
				<input type="hidden" th:field="*{bairro.codigo}" />
				
				<div class="row">
					<div class="col-sm-4 form-group bw-required" brewer:classforerror="cep">
						<label for="nome" class="control-label">CEP</label> 
						<input id="nome" type="text" class="form-control" th:field="*{cep}" />
					</div>
					
					<div class="col-sm-8 form-group bw-required" brewer:classforerror="logradouro">
						<label for="logradouro" class="control-label">Logradouro</label> 
						<input id="logradouro" type="text" class="form-control" th:field="*{logradouro}" />
					</div>
				</div>
				
				<div class="row">				
					<div class="col-sm-4 form-group bw-required">
						<label for="bairro" class="control-label">Bairro</label>							
						<div class="bw-field-action">
							<select id="bairroSelect" class="form-control">
								<option value="">Selecione a cidade</option>
								<option th:each="bairro : ${bairros}"
									th:value="${cidade.codigo}" th:text="${bairro.nome}">
								</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 form-group bw-required">
						<label for="bairro" class="control-label">Bairro</label> 
						<input id="bairro" type="text" class="form-control" th:field="*{bairro.nome}" readonly="readonly" />
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/cep.js}"></script>
	</th:block>
</body>
</html>