<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Pesquisa de endereços</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisa de endereços</h1>
					</div>

					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cliente/nova}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Novo endereço</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-nome">Logradouro</th>
							<th class="table-cervejas-col-origem">CEP</th>
							<th class="table-cervejas-col-origem">Bairro</th>
							<th class="table-cervejas-col-origem">Cidade</th>
							<th class="table-cervejas-col-origem">Ações</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="endereco : ${enderecos}">
							<td th:text="${endereco.logradouro}">Teste</td>
							<td th:text="${endereco.cep}"></td>
							<td th:text="${endereco.bairro}"></td>
							<td th:text="${endereco.cidade}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs js-tooltip" title="Editar"
									th:href="@{/endereco/{codigo}(codigo=${endereco.codigo})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a> 
							</td>
						</tr>
						<tr th:if="${clientes == null}">
							<td colspan="7">Nenhum endereço encontrado</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>