<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaft.org"
xmlns="http://www.w3.org/1999/xhtml">

	<div class="aw-error-panel">
		<h1 class="aw-error-panel__code">
			<i class="fa  fa-location-arrow"></i> 500
		</h1>
		
		<h2 class="aw-error-panel__title">Erro no servidor</h2>
		
		<div class="aw-error-panel__description">
			Desculpe, mas houve um erro no servidor. Estamos trabalhando para que o problema seja corrigido o mais rapidamente.
			<br/><br/>
			<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
		</div>
	</div>
</html>