<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Pesquisa de lojas</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisa de lojas</h1>
					</div>

					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/loja/nova}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Nova loja</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-foto">Código</th>
							<th class="table-cervejas-col-nome">Apelido</th>
							<th class="table-cervejas-col-nome">Razão social</th>
							<th class="table-cervejas-col-estilo">CNPJ</th>
							<th class="table-cervejas-col-origem">IE</th>
							<th class="table-cervejas-col-origem">Ações</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="loja : ${lojas}">
							<td class="text-center" th:text="${loja.codigo}">AA1111</td>
							<td th:text="${loja.apelido}">Teste</td>
							<td th:text="${loja.razao}"></td>
							<td th:text="${loja.cnpj}"></td>
							<td class="text-right" th:text="${loja.ie}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs js-tooltip" title="Editar" 
									th:href="@{/loja/{codigo}(codigo=${loja.codigo})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn btn-link btn-xs js-tooltip js-exclusao-btn"
									title="Excluir" data:objeto="${loja.razao}" href="#"
									data:url="@{/loja/{codigo}(codigo=${loja.codigo})}"> 
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${lojas == null}">
							<td colspan="7">Nenhuma loja encontrada</td>
						</tr>
					</tbody>
				</table>
				<div class="col-sm-12 text-center" th:if="${lojas.totalPages > 0}">
					<nav>
						<ul class="pagination pagination-sm" th:with="paginaAtual=${lojas.number}">
							<th:block th:each="p : ${#numbers.sequence(1, lojas.totalPages)}" th:with="numeroPagina=${p - 1}">
								<li th:class="${paginaAtual == numeroPagina} ? active">
									<a th:href="@{/loja(size=${lojas.size}, page=${pageNumber})}">[[${p}]]</a>
								</li>
							</th:block>
						</ul>
					</nav>				
				</div>
			</div>
		</div>
	</section>
</body>

</html>