<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<title>Pesquisa de guias de entrega</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>Pesquisa de guias</h1>
					</div>

					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/guia/nova}"> <i
								class="glyphicon glyphicon-plus-sign"></i> <span
								class="hidden-xs hidden-sm">Nova guia</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="table-responsive bw-tabela-simples">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-sku">Código</th>
							<th class="table-cervejas-col-nome">Data</th>
							<th class="table-cervejas-col-origem">Loja</th>
							<th class="table-cervejas-col-origem">PDV</th>
							<th class="table-cervejas-col-origem">Cupom</th>
							<th class="table-cervejas-col-origem">Cliente</th>
							<th class="table-cervejas-col-origem">Entregue por</th>
							<th class="table-cervejas-col-origem">Borderô</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="guia : ${guias}">
							<td class="text-center" th:text="${guia.codigo}">AA1111</td>
							<td th:text="${guia.data}">Teste</td>
							<td th:text="${guia.loja.apelido}"></td>
							<td th:text="${guia.pdv}"></td>
							<td th:text="${guia.cupom}"></td>
							<td th:text="${guia.cliente.nome}"></td>
							<td th:text="${guia.motorista.nome}"></td>
							<td th:text="${guia.bordero.codigo}"></td>
							<td class="text-center">
								<a class="btn btn-link btn-xs js-tooltip" title="Editar"
									th:href="@{/cliente/{codigo}(codigo=${cliente.codigo})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a> 
								<a class="btn btn-link btn-xs js-tooltip js-exclusao-btn"
									title="Excluir" data:objeto="${cliente.nome}" href="#"
									data:url="@{/cliente/{codigo}(codigo=${cliente.codigo})}"> 
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${clientes == null}">
							<td colspan="7">Nenhuma guia encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>