<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<div class="modal fade" id="modalValidacaoCupons" tabindex="-1" role="dialog"
	aria-labelledby="modalValidacaoCupons" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Validação de cupons para borderô [[${bordero.codigo}]]</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="cont">
					<div class="row">
						<div class="col-sm-12 form-group bw-required">
							<label for="chaveCupom" class="control-label">Chave do cupom</label>
							<input id="chaveCupom" type="text" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 form-group">
							<button type="submit" class="btn  btn-primary" onclick="validarCupom()">Validar cupom</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</div>
</html>